version: '2'

services:
  # override web app to use the replica
  swh-web:
    environment:
      SWH_CONFIG_FILENAME: /web-replica.yml
    volumes:
      - "./conf/web-replica.yml:/web-replica.yml:ro"

  # create a dedicated db for the replica
  swh-storage-replica-db:
    image: postgres:11
    env_file:
      - ./env/storage-db-replica.env
    environment:
      # unset PGHOST as db service crashes otherwise
      PGHOST:

  # and an RPC server
  swh-storage-replica:
    image: swh/stack
    build: ./
    depends_on:
      - swh-storage-replica-db
      - swh-objstorage
    env_file:
      - ./env/storage-db-replica.env
    environment:
      SWH_CONFIG_FILENAME: /storage-replica.yml
    entrypoint: /entrypoint.sh
    volumes:
      - "./conf/storage-replica.yml:/storage-replica.yml:ro"
      - "./services/swh-storage/entrypoint.sh:/entrypoint.sh:ro"

  # and the background process that keeps the replica in sync with the
  # main graph
  swh-storage-replica-replayer:
    image: swh/stack
    build: ./
    depends_on:
      - swh-storage-replica-db
      - swh-objstorage
    env_file:
      - ./env/storage-db-replica.env
    environment:
      SWH_CONFIG_FILENAME: /storage-replica.yml
    entrypoint: /entrypoint.sh
    volumes:
      - "./conf/storage-replica.yml:/storage-replica.yml:ro"
      - "./services/swh-storage-replayer/entrypoint.sh:/entrypoint.sh:ro"

  swh-journal-backfiller:
    image: swh/stack
    build: ./
    entrypoint: /entrypoint.sh
    environment:
      SWH_CONFIG_FILENAME: /journal_backfiller.yml
    env_file:
      - ./env/storage-db.env
    depends_on:
      - swh-storage-db
      - kafka
    volumes:
      - "./conf/journal_backfiller.yml:/journal_backfiller.yml:ro"
      - "./services/swh-journal-backfiller/entrypoint.sh:/entrypoint.sh:ro"
