storage:
  cls: filter
  args:
    storage:
      cls: buffer
      args:
        storage:
          cls: remote
          args:
            url: http://swh-storage:5002/
        min_batch_size:
          content: 10000
          content_bytes: 104857600
          directory: 1000
          revision: 1000

scheduler:
  cls: remote
  args:
    url: http://swh-scheduler-api:5008/

celery:
  task_broker: amqp://guest:guest@amqp//
  task_modules:
    - swh.loader.git.tasks
    - swh.loader.mercurial.tasks
    - swh.loader.svn.tasks
    - swh.deposit.loader.tasks
    - swh.loader.package.tasks
    - swh.loader.package.deposit.tasks

  task_queues:
    - swh.loader.dir.tasks.LoadDirRepository
    - swh.loader.git.tasks.LoadDiskGitRepository
    - swh.loader.git.tasks.UncompressAndLoadDiskGitRepository
    - swh.loader.git.tasks.UpdateGitRepository
    - swh.loader.mercurial.tasks.LoadArchiveMercurial
    - swh.loader.mercurial.tasks.LoadMercurial
    - swh.loader.package.tasks.LoadArchive
    - swh.loader.package.tasks.LoadDebian
    - swh.loader.package.tasks.LoadNpm
    - swh.loader.package.tasks.LoadPyPI
    - swh.loader.package.tasks.deposit.LoadDeposit
    - swh.loader.svn.tasks.DumpMountAndLoadSvnRepository
    - swh.loader.svn.tasks.LoadSvnRepository
    - swh.loader.svn.tasks.MountAndLoadSvnRepository
    - swh.deposit.loader.tasks.ChecksDepositTsk

lister_db_url: postgresql://postgres@swh-listers-db/swh-listers

url: 'http://swh-deposit:5006'
